:root {
--color-sand: #fcda8b;
--color-deep-blue: #336185;
--color-sky-blue: #446d97;
--color-sky-purple: #404c74;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: var(--color-deep-blue);
}

.sidebar {
  position: absolute;
  z-index: 1;
  background: var(--color-sand);
  padding: 8px 0;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 8px 0px;
  overflow-y: scroll;
  height: 98%;
  top: 0px;
}

.widget-card {
  position: absolute;
  background-color: rgb(241, 240, 234);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 8px 0px;
  margin: .2vw;
  overflow: hidden;
  resize: both;
  height: 30vh;
  width: 20vw;
  z-index: 2vw;
  min-height: 2vw;
  direction: ltr;
}

.widget-card-sidebar {
  background-color: var(--color-sand);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 8px 0px;
  margin: 1vw;
  overflow: hidden;
  resize: both;
  height: 30vh;
  width: 20vw;
  min-height: 3vw;
  direction: ltr;
}


.widget-card-titlebar {
  background-image: none;
  background-color: var(--color-sky-purple);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 0.4vw;
  height: 2vw;
  cursor: move;
  direction: ltr;
}

.widget-card-title{
  display: inline;
  margin: 0;
  font-size: 1.75vw;
  vertical-align: middle;
  color: white;
  direction: ltr;
}
.widget-card-body {
  width: 100%;
  height: 85%;
  background-image: none;
  background-color: var(--color-sky-blue);
}

.sidebar-title{
    font-size: 1.75vw;
    text-align: center;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar-titlebar{
    background:  #c0392b;
}

table.buffer-table table,td,th{
  border: 1px solid black;
}

#memory-graph-container{
    margin: auto;
}

#NARS_title{
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
